{% extends 'base.html' %}

{% block title %} Create User {% endblock %}}

{% block content %}

<h1>Create a user</h1>
<form method="Post">

    <div class="form-row">
        <label for="first_name" class="form-label">First Name</label>
        <div class="form-div">
            <input type="text"
                   class="form-input"
                   id="first_name"
                   name="first_name"
                   placeholder="Enter a first name">  
        </div>
    </div>

    <div class="form-row">
        <label for="last_name" class="form-label">Last Name</label>
        <div class="form-div">
            <input type="text"
                   class="form-input"
                   id="last_name"
                   name="last_name"
                   placeholder="Enter a last name">  
        </div>
    </div>

    <div class="form-row">
        <label for="image_url" class="form-label">Image Url</label>
        <div class="form-div">
            <input type="text"
                   class="form-input"
                   id="image_url"
                   name="image_url"
                   placeholder="Provide an image for user">  
        </div>
    </div>

    <div class="form-row">
        <div class="btn-div">
            <button type="submit" class="add-btn">Add</button>
        </div>
    </div>


</form>

{% endblock %}